$blanco: #ffffff;
$amarillo: rgb(235,215,97);
$azul: rgb(13,76,141);
$azulverde: rgb(14,49,67);
$rojo: rgb(215,70,63);
$gris: rgb(232,224,223);
$grisverde: rgb(105,127,121);
$verdegris: rgb(117,181,142);
$negro: rgb(0,0,0)