
@use '../base/variables' as v;
@use '../base/colores' as c;
@use "../base/mixins" as m;
.header h1{
  margin: 0;
  @include m.telefono{
    background-color: c.$gris;
  }
}
.titulo{
  font-size: 6rem;
  color: c.$rojo;
  text-transform: uppercase;
  background-color: c.$amarillo;
}
.nav-bar{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  padding: 1rem;

}
.opcion-nav{
  font-size: 2rem;
  text-transform: uppercase;
  padding: 1rem;
  background-color: c.$azulverde;
  color: c.$blanco;
}