@use '../base/variables' as v;
@use '../base/colores' as c;
@use "../base/mixins" as m;
.header{
  display: flex;
  justify-content: space-between;
  background-color: c.$amarillo;
}
.titulo-imagen{
  width: 10%;
  height: 10%;
  @include m.telefono{
    width: 25%;
    height: 25%;
  }
  @include m.tablet{
    width: 15%;
    height: 15%;
  }
  @include m.desktop{
    width: 10%;
    height: 10%;
  }
}
.header-derecho{
  display: block;
}
.header-contacto{
  display: flex;
  text-transform: capitalize;
  color: c.$rojo;
  padding: 1rem;
  gap: 0.5rem;
  svg{
    color: c.$verdegris;
  }
  .orden{
    margin: 0;
  }
  .numero{
    color: c.$negro;
    &:hover{
      color: green;
    }
  }
}
.header-horario{
  display: flex;
  text-align: end;
  justify-content: end;
  padding-right: 1rem;
  gap: 0.5rem;
  .horario{
    color: c.$negro;
    text-transform: capitalize;
    margin: 0;

  }
  svg{
    color: c.$azul;
  }
}
.header-ubicacion{
  display: flex;
  text-align: center;
  justify-content: center;
  padding-bottom: 1rem;
  .ubicacion{
    display: flex;
    padding: 0.25rem;
    border-style: solid;
    border-color: c.$negro;
    background-color: c.$verdegris;
    h5{
      color: c.$negro;
      margin: 0;
      text-transform: capitalize;
    }
    svg{
      margin: 0;
      color: c.$rojo;
    }
  }
}

