@use "../base/colores" as c;
@use "../base/mixins" as m;
.menu-nav{
  position: absolute;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  inset: 0;
}
.nav-section{
  position: relative;
  grid-column: 2/3;
  background-color: rgb(c.$amarillo, 0.6);
  background-size: cover;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  padding: 1rem;
  gap: 1rem;
}
.opcion-section{
  display: flex;
  justify-content: center;
  background-color: c.$verdegris;
  color: black;
  border: solid black;
  align-items: center;
  .section-titulo{
    margin: 0;
    text-transform: capitalize;
  }
}