@use 'Base/variables' as v;
@use 'Base/colores' as c;
//hola
body{
  font-family: v.$fuente_principal;
  font-optical-sizing: auto;
  font-style: normal;
  background-color: #000000;
  color: c.$blanco;
}